.bgf7{background:#f7f7f7;}
.loan-protocol{padding:1rem 0.75rem 2rem;}
.loan-protocol h2{font-size:0.9rem;text-align:center;color:#333;padding:0.5rem 0;font-weight:bold;}
.loan-protocol h3{font-size:0.8rem;color:#333;font-weight:bold;margin-bottom:0.5rem;}
.loan-protocol p{font-size:0.75rem;color:#666;line-height:1.4;margin-bottom:0.5rem;text-indent:2em;}